<main class="d-flex">
  <.bar>
    &nbsp;
  </.bar>

  <.sidebar instance={@instance} doctypes={@doctypes} />

  <div class="content">
    <.hero avatar={@instance.avatar} title={@instance.domain} />

    <.json doc={@instance.raw_doc} />
  </div>
</main>
