<%= img_tag(Routes.avatar_path(@conn, :show, @instance.domain)) %>

<h1><%= @instance.domain %></h1>

<ul>
  <%= for doctype <- @doctypes do %>
    <li><a href="<%= doctype.fauxton %>">
      <%= doctype.name %>
    </a></li>
  <% end %>
</ul>
