<div class="background"></div>

<main class="home">
  <h1>Instances</h1>

  <ul>
    <%= for instance <- @instances do %>
      <li><a href={~p"/cozy/#{instance.id}"}>
        <img src={"//#{instance.domain}/public/avatar?fallback=initials"}>
        <%= instance.domain %>
      </a></li>
    <% end %>
  </ul>
</main>
