<div class="background"></div>

<main class="home">
  <.hero avatar="/images/icon.svg" title="Instances" />

  <hr class="home-divider w-100 mb-6">

  <div class="home-list w-100">
    <a :for={instance <- @instances} href={~p"/cozy/#{instance.id}"} class="scale-hover">
      <.square_icon src={"//#{instance.domain}/public/avatar?fallback=initials"} />
      <h6><%= instance.domain %></h6>
    </a>
  </div>
</main>
