<main class="wrapper">
  <.hero avatar={"//#{@instance.domain}/public/avatar?fallback=initials"} title={@instance.domain} />

  <ul>
    <li :for={doctype <- @doctypes}><a href={Couch.fauxton_url(doctype.db)}>
      <%= doctype.name %>
    </a></li>
  </ul>
</main>
