@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/Lampovna.jpg");
  background-position: center;
  background-size: cover;
}

.hero-header {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
}

.hero-title {
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  height: 100%;
  width: 50rem;
  margin-inline: auto;
}

.home-search {
  width: 46rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.home-search:focus-within {
  border-color: var(--primaryColor);
  box-shadow: 0 0 0 0.25rem var(--primaryColorLightest);
}

.home-search img {
  width: 1rem;
  height: 1rem;
  margin-inline: 1rem;
}

.home-search input {
  flex-grow: 1;
  margin-right: 1rem;
  border: none;
}

.home-search input:focus {
  border: none;
  outline: none;
}

.home-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  grid-auto-rows: minmax(7rem, auto);
  grid-gap: 0.625rem 0;
  justify-content: center;
  margin-bottom: 20rem;
}

.home-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-list h6 {
  display: -webkit-box;
  height: 2.375rem;
  margin: 0.5rem 0.25rem 0 0.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.188rem;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  text-shadow:
    0px 2px 8px rgba(29, 33, 42, 0.16),
    0px 0px 1px rgba(29, 33, 42, 0.48);
}

.square-icon {
  width: 5rem;
  height: 5rem;
  padding: 0.625rem;
  border-radius: 0.75rem;
  background: #fff;
  transition:
    transform 0.3s,
    border-radius 0.3s;
}

.scale-hover:hover {
  transform: scale(1.0625);
  transition: transform 50ms ease;
}
