@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
}

main {
  max-width: 72ch;
  margin: auto;
}

.view-doc table {
  margin-left: clamp(-20%, 50% - 50vw, 0px);
  margin-right: clamp(-20%, 50% - 50vw, 0px);
  width: min(100vw, 140%);
}

.view-oidc {
  background-color: var(--chablis);
}
