@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/Lampovna.jpg");
  background-position: center;
  background-size: cover;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: transparent;
  height: 100%;
}

.view-page h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.view-page .tiles {
  padding-bottom: 20rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tiles li {
  position: relative;
  margin: 1rem;
}

.tiles a,
.tiles a:active,
.tiles a:hover,
.tiles a:focus,
.tiles a:visited {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0.2rem black;
}

.tiles img {
  border-radius: 0.5rem;
}
