/* Buttons - https://zpl.io/aXg5llV */
e\:btn,
e\:btn-outline,
e\:btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
}
e\:btn[disabled],
e\:btn-outline[disabled],
e\:btn-danger[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
e\:btn[aria-busy="true"],
e\:btn-outline[aria-busy="true"],
e\:btn-danger[aria-busy="true"] {
  opacity: 0.5;
  pointer-events: none;
}

e\:btn,
e\:btn:visited {
  background-color: var(--regularButtonPrimaryColor);
  color: var(--regularButtonConstrastColor);
  border-color: var(--regularButtonSecondaryColor);
}
e\:btn:active,
e\:btn:hover,
e\:btn:focus {
  border-color: var(--regularButtonActiveColor);
  background-color: var(--regularButtonActiveColor);
}
e\:btn[disabled]:hover {
  border-color: var(--regularButtonSecondaryColor);
  background-color: var(--regularButtonPrimaryColor);
}

e\:btn-outline,
e\:btn:visited {
  background-color: var(--secondaryButtonPrimaryColor);
  color: var(--secondaryButtonConstrastColor);
  border-color: var(--secondaryButtonSecondaryColor);
}
e\:btn-outline:active,
e\:btn-outline:hover,
e\:btn-outline:focus {
  border-color: var(--secondaryButtonActiveColor);
  background-color: var(--secondaryButtonActiveColor);
}
e\:btn-outline[disabled]:hover {
  border-color: var(--secondaryButtonSecondaryColor);
  background-color: var(--secondaryButtonPrimaryColor);
}

e\:btn-danger,
e\:btn-danger:visited {
  background-color: var(--errorColor);
  color: var(--white);
  border-color: var(--errorColor);
}
e\:btn-danger:active,
e\:btn-danger:hover,
e\:btn-danger:focus {
  border-color: var(--monza);
  background-color: var(--monza);
}
e\:btn-danger[disabled]:hover {
  border-color: var(--errorColor);
  background-color: var(--errorColor);
}

/* Typography - https://zpl.io/2pEroGy */
e\:h1,
e\:h2,
e\:h3,
e\:h4 {
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.167;
}
e\:h1 {
  font-size: var(--h1FontSize);
  letter-spacing: -0.8;
  line-height: 1.087;
}
e\:h2 {
  font-size: var(--h2FontSize);
  letter-spacing: -0.4;
}
e\:h3 {
  font-size: var(--h3FontSize);
}
e\:h4 {
  font-size: var(--h4FontSize);
}

e\:body1,
e\:body2,
e\:caption {
  letter-spacing: 0;
  line-height: 1.313;
}
e\:body1 {
  font-size: var(--textFontSize);
}
e\:body2 {
  font-size: var(--smallFontSize);
}
e\:caption {
  font-size: var(--captionFontSize);
}

/* Cards - https://zpl.io/29r7WAl */
e\:card {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--silver);
}

e\:card-elevated {
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.08);
}

e\:card-inversed {
  position: relative;
}
e\:card-inversed::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  opacity: 0.24;
}
