/*!
 * Forked from Bootstrap Reboot, licensed MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  font-size: var(--textFontSize);
  font-weight: 400;
  line-height: 1.313;
  color: var(--primaryTextColor);
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  margin: var(--spacing-m) 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
  font-weight: 500;
  line-height: 1.167;
}

h1 {
  font-size: var(--h1FontSize);
}
h2 {
  font-size: var(--h2FontSize);
}
h3 {
  font-size: var(--h3FontSize);
}
h4 {
  font-size: var(--h4FontSize);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-m);
  hyphens: auto;
}

ol,
ul {
  padding-left: var(--spacing-xl);
  margin-top: 0;
  margin-bottom: var(--spacing-m);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 var(--spacing-m);
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: var(--smallFontSize);
}

a {
  color: var(--primaryColor);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
a:hover,
a:active,
a:focus,
a:visited {
  color: var(--primaryColorDark);
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: var(--textFontSize);
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
  hyphens: none;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacing-m);
  overflow: auto;
  font-size: var(--smallFontSize);
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: var(--smallFontSize);
  color: var(--portage);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  color: var(--darkPeriwinkle);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

svg {
  fill: currentColor;
}
