<h1>Cozy Toolbox</h1>

<ul class="tiles">
  <%= for instance <- @instances do %>
    <li>
      <a href={~p"/instances/#{instance.id}"}>
        <img src={"//#{instance.domain}/public/avatar?fallback=initials"}>
        <%= instance.domain %>
      </a>
    </li>
  <% end %>
</ul>
