<main class="d-flex">
  <.bar />

  <.sidebar instance={@instance} doctypes={@doctypes} current={@doctype.name} />

  <div class="d-flex flex-column align-items-center flex-grow-1 flex-shrink-1">
    TODO
    <a href={Couch.fauxton_url(@doctype.db, @doc.id)}>Fauxton</a>
    <.json doc={@doc.raw_doc} />
  </div>
</main>
