<main class="d-flex">
  <.bar fauxton={Couch.fauxton_url(@doctype.db, @doc.id)}>
    &nbsp;
  </.bar>

  <.sidebar instance={@instance} doctypes={@doctypes} current={@doctype.name} />

  <div class="content">
    <.json doc={@doc.raw_doc} />
  </div>
</main>
