<div>
  <h1 class="mb-5">my Benenos (Cerfs)</h1>
  <h2 class="mb-3">Login as:</h2>
  <form method="post">
    <input type="hidden" name="state" value="<%= @params["state"] %>" />
    <input type="hidden" name="nonce" value="<%= @params["nonce"] %>" />
    <input type="hidden" name="redirect_uri" value="<%= @params["redirect_uri"] %>" />
    <input type="hidden" name="code" value="isabelle" />
    <button class="btn btn-primary">Isabelle</button>
  </form>
</div>
